@import "_nullstyle";

	body{
		background-color: rgb(153, 142, 142);
}

.wrap {
min-height: 100%;
overflow: hidden;
}
.conteiner {}

//?Верхня панель---------------------------------------------------------------------------

	@media(min-width: 800px)
	{
		.burger {
			height: 100px;
			overflow: hidden;
			position: relative;
			z-index: 1;
			background-color: #597aef;;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 48px;
			line-height: 68px;
			font-weight: 300;
			color: #ffffff;
			text-transform: uppercase;
			transition: height 1s ease 0s;
				&__line{
					margin: 0.8em auto 0.8em;
					display: block;
					border-top: 3px solid #ffffff;
					width: 25px;
					height: 5px;
				}
				&__line::before{
					content: "";
					display: block;
					border-bottom: 3px solid #ffffff;
					width: 25px;
					height: 5px;
				}
				&__line:after{
					content: "";
					display: block;
					border-bottom: 3px solid #ffffff;
					width: 25px;
					height: 5px;
				}
		}
		.burger:hover{
			height: 100%;
			
			}
		.form {
				&__form {
					display: flex;
					justify-content: center;
					background-color: #ffffff;
				}
				&__field {
					display: block;
					flex: 0 1 80%;
					font-size: 1.8em;
					line-height: 1.8em;
					background: url("/img/items/search.png") 13px no-repeat,
								#ffffff;
					color: #597aef;
					padding: 15px 10px 15px 50px;
				}
				&__button {
					display: block;
					border-radius: 50%;
					flex: 0 1 1.9em;
					background-color: #597aef;
					font-size: 2em;
					line-height: 2em;
					font-weight: 700;
					text-transform: uppercase;
					color: white;
					margin:  10px;
			}
		}
	}


//todo----------------------------------------------


//?Верхня панель---------------------------------------------------------------------------
/*
@media (min-width: 800px){
.head {
	max-width: 1370px;
	display: flex;

		&__burger {
			background-color: #597aef;
			display: block;
			flex: 0 1 7.3%;
			padding: 0 0 7.3% 0;

		}

		&__search {
			display: block;
			flex: 0 1 85.4%;
			background-color: #ffffff;
		}

		&__block {
			background-color: #ffffff;
			display: block;
			flex: 0 1 7.3%;
		}
}

// ?Форма пошуку--------------------------------------------------
/*.on {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__form {
	}
}

.form {
	border: 1px solid #6080f0;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	min-width: 50%;
	align-self: flex-end;

	&__form {
		display: flex;
		min-width: 90%;
	}

	&__field {
		margin: 0 1.2em 0 1.2em;
		font-size: 1.8em;
		line-height: 1.8em;
		flex: 1 1 auto;
		background: url(/img/items/search.png);
	}

	&__button {
		background-color: #6080f0;
		margin-right: 0.8em;
		font-size: 1.8em;
		line-height: 1.8em;
		position:relative ;
		z-index: 1;
		flex: 0 0 50px;
	}

	&__img {
		margin: 1em;
		position:relative ;
		z-index: 2;
	}
}
*/

.on {display: flex;
	flex-direction: column;
	justify-content: center;
	
	&__form {
		
	}
}

.form {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;


	&__form {
		display: flex;
		overflow: hidden;
		border: 2px solid #6080f0;
		border-radius: 25px;
		background-color: #ffffff;
		width: 47px;
		transition: all 0.5s linear 0s;

	}

	&__form:focus-within {
		min-width: 100%;
		display: flex;
		justify-content: space-between;
		border: 2px solid #6080f0;
		border-radius: 25px;
		background-color:  #6080f0;
		width: 50%;
	}

	&__field {
		font-size: 1.8em;
		line-height: 1.8em;
		background: url("/img/items/search.png") 13px no-repeat,
		#ffffff;
		position: relative;
		z-index: 4;
		width: 2em;
		left: 0px;
		transition: all 0.5s linear 0s;
	}

	&__field:focus-within {
		background: none;
		background-color: #6080f0;
		position: relative;
		z-index: 2;
		left: 20px;
		padding-right: 3.5em;
		width: 20em;
		transition: all 0.5s linear 0s;
	}

	&__button {
		background-color: #6080f0;
		font-size: 1.8em;
		line-height: 1.9em;
		width: 2.3em;
		margin-left: -2.6em;
		position: relative;
		z-index: 3;
		transition: all 1s linear 0s;
	}

	&__button:focus {
		background-color: #6080f0;
		font-size: 1.8em;
		line-height: 1.9em;
		width: 2.3em;
		margin-left: -2.5em;
		position: relative;
		z-index: 1;
	}
	

	&__img {
		display: none;
	}
}
//?Обгортка контенту-----------------------------------------------------------------

.content {
	max-width: 1170px;
	display: flex;
	flex-direction: column;
	margin: 0 7.3%;
}
.main {
	flex: 1 1 auto;
}
.grid-one {

		&__1 {
		}

		&__2 {
		}

		&__3 {
		}

		&__4 {
		}

		&__5 {
		}
}
.picture {
}
.insta {
}
.idea {
}
.title {
}
.subtitle {
}
.arrow img{

	object-fit: none;
	object-position: right bottom;
	position: absolute;
	border: 1px solid white;
	border-radius: 30px;
	padding: 20px 16px 18px 15px ;
	right: 65px;
	bottom: 40px;
}
.alone-one {
}
.alone-two {
}
.grid-two {

		&__1 {
		}

		&__2 {
		}

		&__3 {
		}

		&__4 {
		}

		&__5 {
		}

		&__6 {
		}
}
.alone-three {
}
.footer {
}
.load {
}
